ion-content {
  .wrapper {
    background: linear-gradient(135deg, #4ecdc4, #566371);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .feather-icon svg {
      width: 72px;
      height: 72px;
      stroke-width: 1px;
    }
  }
}
