ion-content {
  .wrapper {
    background: linear-gradient(135deg, #4ecdc4, #566371);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    .magic-text {
      text-align: center;
      font-size: 36px;
    }

    .title-group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      .feather-icon {
        position: absolute;
        top: -100px;
        width: 72px;
        svg {
          width: inherit;
          height: inherit;
          stroke-width: 1px;
        }
      }

      .home-text {
        font-size: 72px;
        text-align: center;
        font-weight: 300;
      }
    }
  }
}
